__tests__/runner/*

# comment out in distribution branches
# node_modules/

# Rest pulled from https://github.com/github/gitignore/blob/master/Node.gitignore
# Logs
logs
*.log
npm-debug.log*

# Output of 'npm pack'
*.tgz

*.iml
.idea/